body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* To ensure volume slider is correctly positioned */
  width: 100%;
  height: 90vh; /* Increase the height to make it more prominent */
}

video {
  width: 95%;
  height: auto;
  max-height: 100%; /* Ensure it scales properly */
}

/* Volume Slider */
.volume-slider {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.volume-slider:hover {
  opacity: 1;
}

/* CSS for truncating long names and showing full name on hover */
.track-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.track-label:hover::after {
  content: attr(data-fullname);
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
}
